.nav {
    background-color: green;
}

.nav__logo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    /* identical to box height */
    color: #29304A;
}

.logo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    /* identical to box height */
    color: #29304A;
}

.nav__link {
    background-color: green;
}