@import 'navbar';
@import 'footer';

a {
    cursor: pointer;
}

%cinzel {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    // font-size: 50px;
    line-height: 67px;
    color: #29304A;
}

%arvo {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    // font-size: 18px;
    line-height: 22px;

    color: rgba(41, 48, 74, 0.76);
}

.margin {
    display: flex;
    flex-direction: column;
    align-content: center;
    // justify-content: center;
    // max-width: 1113px;
    // width: 100%;
    min-height: 443px;
    // overflow: visible;
}

.header {
    background-color: #DECAAF;
    height: 361px;
    display: flex;
    justify-content: center;
    position: relative;
    // overflow: visible;
}

// .header-style {
//     position: absolute;
//     top: 100px;
// }

.main-headline {
    @extend %cinzel;
    font-size: 50px;
    margin-top: 40px;
}

.header__text {
    display: flex;
    justify-content: center;
}

.paragraph {
    @extend %arvo;
    font-size: 18px;
    max-width: 450px;
    width: 100%;
    text-align: center;
}

// GALLERY

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 80px;
    position: absolute;
    // left: 0px;
    top: 100px;
    z-index: 1;
}

.gallery__imgdiv {
    position: relative;
  }
  
  .gallery__img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .gallery__hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .gallery__imgdiv:hover .gallery__img {
    opacity: 0.3;
  }
  
  .gallery__imgdiv:hover .gallery__hover {
    opacity: 1;
  }
  
  .gallery__buy {
    background-color: #AB7020;
    color: white;
    @extend %arvo;
    font-size: 16px;
    padding: 16px 32px;
  }

.gallery__imgdiv {
    // background-color: #29304A;
    max-width: 250px;
    height: 250px;
    width: 100%;
    // overflow-y: hidden;
    overflow: hidden;
    position: relative;
}

.learn-more {
    height: 210px;
    width: 250px;
    overflow: hidden;
}

.artist-img {
    width: 100%;
}

.gallery-btn {
    background: #AB7020;
    color: #fff;
    font-size: 20px;
    border: none;
    @extend %arvo;
    height: 42px;
    width: 100%;
    border: none;
}

.gallery-btn:hover {
    background: #54360d;
}


// WHITE SPACE

.white-space {
    height: 250px;
    // width: 250px;
}

// BEIGE

.beige__container {
    display: flex;
    align-content: flex-end;
    height: 40vh;
}

.beige {
    background-color: #EDE6DC;
    height: 400px;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .white-space {
        height: 600px;
    }

    .beige {
        background-color: #EDE6DC;
        height: 600px;
        width: 100%;
    }

    .main-headline {
        font-size: 45px;
    }
}

@media screen and (max-width: 620px)  {
    .gallery {
        grid-template-columns: 1fr;
        margin-top: 100px;
        padding-top: 20px;
        top: 100px;
    }

    .main-headline {
        // font-size: 30px;
        max-width: 300px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .paragraph {
        font-size: 16px;
        max-width: 350px;
        width: 100%;
    }

    .margin {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        // max-width: 1113px;
        // width: 100%;
        min-height: 443px;
        // overflow: visible;
    }

    .white-space {
        height: 1600px;
    }

    .beige {
        background-color: #EDE6DC;
        height: 700px;
        width: 100%;
    }
}

@media screen and (max-width: 490px)  {
    .logo {
        font-size: 22px;
    }
}

@media screen and (max-width: 440px)  {
    .main-headline {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .paragraph {
        max-width: 270px;
        width: 100%;
        font-size: 14px;
    }
}