@charset "UTF-8";
.nav a, .dropdown .dropbtn, .paragraph, .form__enter-info, .form-btn, .findus__paragraph {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: rgba(41, 48, 74, 0.76);
}

.nav {
  overflow: hidden;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 4vw;
  margin: 20px 7vw 20px 7vw;
}

.nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav__logo {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  /* identical to box height */
  color: #29304A;
}

.logo {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  /* identical to box height */
  color: #29304A;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #95D5B2;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child), .dropdown .dropbtn {
    /*att menyn inte ska synas*/
    display: none;
  }
  .nav a.icon {
    /*att ikonen ska synas*/
    float: right;
    display: block;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    /* att ikonen ska stanna i hörnet och inte följa med dropdown*/
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    /*gör att menyn blir en dropdown block, utan den syns bara dropdon knappen*/
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive .dropdown {
    /*gör att knappen blir en del av listan*/
    float: none;
  }
  .nav.responsive .dropdown-content {
    position: relative;
  }
  .nav.responsive .dropdown .dropbtn {
    /*gör att knappen visas*/
    display: block;
    width: 100%;
    text-align: left;
  }
}

.main-headline {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
  color: #29304A;
}

.nav a, .dropdown .dropbtn, .paragraph, .form__enter-info, .form-btn, .findus__paragraph {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: rgba(41, 48, 74, 0.76);
}

.margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 70vw;
  width: 100%;
  min-height: 443px;
  overflow: visible;
}

.header {
  background-color: #DECAAF;
  height: 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: visible;
}

.header-style {
  position: absolute;
  top: 100px;
}

.main-headline {
  font-size: 50px;
}

.paragraph {
  font-size: 18px;
  max-width: 30vw;
  width: 100%;
  margin-left: 5px;
}

.header__imgbox {
  max-width: 481px;
  width: 100%;
  overflow: hidden;
}

.header__img {
  width: 481px;
  height: 327px;
}

.contact__blue {
  background-color: #29304A;
  min-height: 50vh;
  position: relative;
}

.white-space {
  height: 148px;
}

.contact {
  text-align: center;
  margin-bottom: 14px;
}

.contact__blue {
  height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 505px;
  width: 100%;
  min-height: 291px;
}

.form__enter-info {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #9DBEBB;
  font-size: 20px;
  color: rgba(41, 48, 74, 0.61);
  padding: 11px 0px 11px 19px;
  margin-bottom: 16px;
}

.message {
  height: 168px;
}

.form-btn {
  margin-top: 5px;
  background: #AB7020;
  color: #fff;
  font-size: 20px;
  border: none;
  height: 63px;
  border: none;
}

.findus__beige-bg {
  height: 335px;
  background-color: #EDE6DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: visible;
  margin-top: 80px;
}

.findus {
  text-align: center;
  margin-top: 94px;
}

.bottom-style {
  position: absolute;
  top: -50px;
}

.findus__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.findus__paragraph {
  font-size: 18px;
}

@media screen and (max-width: 920px) {
  .main-headline {
    font-size: 35px;
  }
  .paragraph {
    font-size: 16px;
  }
  .findus__imgbox {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=contact.css.map */