.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  min-height: 4vw;
  margin: 20px 7vw 20px 7vw;
}

.nav__link:hover {
  color: #29304a20;
}

.nav__link:active {
  color: #52B788;
}

.dropdown {
  display: none;
}

.nav__logo {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  /* identical to box height */
  color: #29304A;
}

.nav__logo {
  text-decoration: none;
}

.logo {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  /* identical to box height */
  color: #29304A;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 270px;
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #29304A;
}

.nav__link {
  text-decoration: none;
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #29304A;
}

.nav__link:hover {
  color: #5a6280;
}

@media screen and (max-width: 715px) {
  .dropdown {
    /* display: flex;
        align-items: center; */
    position: relative;
    display: inline-block;
  }
  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
  }
  .nav__list {
    display: none;
  }
}

@media screen and (max-width: 443px) {
  .logo {
    /*does not work*/
    font-size: 25px;
  }
}

.main-headline {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
  color: #29304A;
}

.paragraph, .form__enter-info, .form-btn, .findus__paragraph {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: rgba(41, 48, 74, 0.76);
}

.margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  width: 100%;
  min-height: 443px;
  overflow: visible;
}

.header {
  background-color: #DECAAF;
  height: 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: visible;
}

.header-style {
  position: absolute;
  top: 100px;
}

.main-headline {
  font-size: 50px;
}

.paragraph {
  font-size: 18px;
  max-width: 30vw;
  width: 100%;
  margin-left: 5px;
}

.header__imgbox {
  max-width: 481px;
  width: 100%;
  overflow: hidden;
}

.header__img {
  width: 481px;
  height: 327px;
}

.contact__blue {
  background-color: #29304A;
  min-height: 50vh;
  position: relative;
}

.white-space {
  height: 148px;
}

.contact {
  text-align: center;
  margin-bottom: 14px;
}

.contact__blue {
  height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 505px;
  width: 100%;
  min-height: 291px;
}

.form__enter-info {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #9DBEBB;
  font-size: 20px;
  color: rgba(41, 48, 74, 0.61);
  padding: 11px 0px 11px 19px;
  margin-bottom: 16px;
}

.message {
  height: 168px;
}

.form-btn {
  margin-top: 5px;
  background: #AB7020;
  color: #fff;
  font-size: 20px;
  border: none;
  height: 63px;
  border: none;
}

.findus__beige-bg {
  height: 335px;
  background-color: #EDE6DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: visible;
  margin-top: 80px;
}

.findus {
  text-align: center;
  margin-top: 94px;
}

.bottom-style {
  position: absolute;
  top: -50px;
}

.findus__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.findus__paragraph {
  font-size: 18px;
}

@media screen and (max-width: 920px) {
  .main-headline {
    font-size: 35px;
  }
  .paragraph {
    font-size: 16px;
  }
  .findus__imgbox {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=contact.css.map */