.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  min-height: 4vw;
  margin-left: 7vw;
  margin-right: 7vw;
}

.dropdown {
  display: none;
}

.nav__logo {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  /* identical to box height */
  color: #29304A;
}

.nav__logo {
  text-decoration: none;
}

.logo {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  /* identical to box height */
  color: #29304A;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 270px;
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #29304A;
}

.nav__link {
  text-decoration: none;
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #29304A;
}

.nav__link:hover {
  color: #5a6280;
}

@media screen and (max-width: 715px) {
  .dropdown {
    /* display: flex;
    align-items: center; */
    position: relative;
    display: inline-block;
  }

  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
  }

  .nav__list {
    display: none;
  }
}
@media screen and (max-width: 443px) {
  .logo {
    /*does not work*/
    font-size: 25px;
  }
}
.header__headline {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
  color: #29304A;
}

.header__paragraph {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: rgba(41, 48, 74, 0.76);
}

.header {
  background-color: #fff;
}

.header__beige-bg {
  background-color: #DECAAF;
  min-height: 50vh;
  position: relative;
}

.header__container {
  position: absolute;
  bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
  width: 100%;
}

.header__text {
  max-width: 500px;
  width: 100%;
}

.header__headline {
  font-size: 50px;
}

.header__paragraph {
  font-size: 18px;
}

.header__imgbox {
  max-width: 481px;
  width: 100%;
  overflow-y: hidden;
}

.header__img {
  width: 481px;
  height: 327px;
}