@import 'nav';

%cinzel {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    // font-size: 50px;
    line-height: 67px;
    color: #29304A;
}

%arvo {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    // font-size: 18px;
    line-height: 22px;

    color: rgba(41, 48, 74, 0.76);
}

.margin {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1113px;
    width: 100%;
    min-height: 443px;
    overflow: visible;
}

.header {
    background-color: #DECAAF;
    height: 361px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: visible;
}

.header-style {
    position: absolute;
    top: 100px;
}

// .header__text {
//     max-width: 500px;
//     width: 100%;
// }

.main-headline {
    @extend %cinzel;
    font-size: 50px;
}

.paragraph {
    @extend %arvo;
    font-size: 18px;
    max-width: 450px;
    width: 100%;
    margin-left: 5px;
}

.header__imgbox {
    max-width: 481px;
    width: 100%;
    // overflow-y: hidden;
    overflow: hidden;
}

.header__img {
    width: 481px;
    height: 327px;
}

.contact__blue {
    background-color: #29304A;
    min-height: 50vh;
    position: relative;
}

// WHITE SPACE

.white-space {
    height: 148px;
}

//FORM

.contact {
    text-align: center;
    // margin-top: 70px;
    margin-bottom: 14px;
}

.contact__blue {
    height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 505px;
    width: 100%;
    min-height: 291px; 
    // margin-bottom: 59px;
}

// .form__label {
//     background-color: blue;
// }

.form__enter-info {
    @extend %arvo;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #9DBEBB;
    font-size: 20px;
    color: rgba(41, 48, 74, 0.61);
    padding: 11px 0px 11px 19px;
    // margin-bottom: 16px;
}

.message {
    height: 168px;
}

// .form__enter-info {
//     max-width: 503px;
//     width: 100%;
//     height: 63px;
//     border: none;
//     padding: 0px;
//     margin-right: -4px;
//     text-align: center;
//     @extend %josefin-regular;
//     font-size: 14px;
//     letter-spacing: 2.8px;
//     color: #999999;
// }

// WHERE TO FIND US

.findus__beige-bg {
    height: 335px;
    background-color: #EDE6DC;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: visible;
    margin-top: 80px;
}

.findus {
    text-align: center;
    margin-top: 94px;
}

.bottom-style {
    position: absolute;
    top: -50px;
}

.findus__text {
    display: flex;
    align-items: center;
    height: 300px;
    // margin-top: -60px;
}

.findus__paragraph {
    @extend %arvo;
    font-size: 18px;
}