/* footer*/
footer {
    background-color: #29304A;
}
.logo {
    font-family: 'Lora', serif;
    font-size: 34px;
    color: #FFFFFF;
}
h5 {
    color: #FFFFFF;
    font-family: 'Arvo', serif;
    font-size: 20px;
}
h6 {
    color: #FFFFFF;
    font-family: 'Arvo', serif;
    font-size: 16px;
}
.from_footer {
    font-family: 'Cinzel', serif;
}
