@use 'fonts';
@import 'fonts';

body {
    width: 100%;
    margin: 20px;
    background-color: #E5E5E5;
}
/* artist.html*/
.main-artists {
 display: flex;
 justify-content: center; /* why are the 'section-artist' not in the center*/
 flex-direction: column;
}
.white-section {
    width: 100%;
    height: 400px;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-artists-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DECAAF;
    width: 80%;
}
.renefont {
    color: #29304A;
    max-width: 500px;
    margin: 20px;
}
.section-artists-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #29304A;
    width: 80%;
}
.trissfont {
    color: #EDE6DC;
    max-width: 500px;
    margin: 20px;
}
.section-artists-three {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    background-color: #EDE6DC;
    width: 80%;
}
.irisfont {
    color: #29304A;
    max-width: 500px;
    margin: 20px;
}
.footer-left {
    display: flex;
    flex-direction: column;
}
.rene-portrait-transform {
    max-width: 284px;
    max-height: 345px;
    transform: 
        translate(40px, 40px);
}
.triss-portrait-transform {
    max-width: 404px;
    max-height: 308px;
    transform: 
        translate(40px, 40px);
}
.iris-portrait-transform {
    max-width: 380px;
    max-height: 276px;
    transform: 
        translate(40px, 40px);
}
@media screen and (max-width: 900px){
    .rene-portrait-transform {
        max-width: 184px;
        max-height: 245px;
    }
    .triss-portrait-transform {
        max-width: 304px;
        max-height: 208px;
    }
    .iris-portrait-transform {
        max-width: 280px;
        max-height: 176px;
    }
    }
@media screen and (max-width: 600px){
    .rene-portrait-transform {
        max-width: 84px;
        max-height: 145px;
     }
    .triss-portrait-transform {
        max-width: 204px;
        max-height: 108px;
        }
    .iris-portrait-transform {
        max-width: 180px;
        max-height: 76px;
    }
    }
/*end artists*/



//start artist work
.main-artistwork {
    display: flex;
    justify-content: center; /*Why?*/
    flex-direction: column;
}
.view-our-collection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #29304A;
    width: 80%;
    height: 400px;
}
.collectionimg {
    max-width: 350px;
    max-height: 450px;
    margin: 20px;
}

/*artist work grid container*/
.grid_container_awork {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 3fr 1fr;
    background-color: #DECAAF;
    width: 80%;
    max-height: 500px;
    place-items: center;
}
.rene-portrait {
    max-width: 284px;
    max-height: 345px;
    margin: 20px;
    transition: .5s ease;
    backface-visibility: hidden
}
.triss-portrait {
    max-width: 404px;
    max-height: 308px;
    margin: 20px;
}
.iris-portrait {
    max-width: 380px;
    max-height: 276px;
    margin: 20px;
}
.grid_container_awork_reneimg{
    grid-area: 1/1/2/2;
}
.grid_container_awork_renetext {
    grid-area: 2/1/3/2;
}
.grid_container_awork_irisimg {
    grid-area: 1/2/2/3;
}
.grid_container_awork_iristext {
    grid-area: 2/2/3/3;
}
.grid_container_awork_trissimg {
    grid-area: 1/3/2/4;
}
.grid_container_awork_tirsstext {
    grid-area: 2/3/3/4;
}
.grid_container_awork_reneimg:hover {
    opacity: 0.3;
}
.grid_container_awork_renetext {
    opacity: 0.3;
}

@media screen and (max-width: 900px){
    .rene-portrait {
        max-width: 184px;
        max-height: 245px;
    }
    .triss-portrait {
        max-width: 304px;
        max-height: 208px;
    }
    .iris-portrait {
        max-width: 280px;
        max-height: 176px;
    }
    }
@media screen and (max-width: 600px){
    .rene-portrait {
        max-width: 84px;
        max-height: 145px;
     }
    .triss-portrait {
        max-width: 204px;
        max-height: 108px;
        }
    .iris-portrait {
        max-width: 180px;
        max-height: 76px;
    }
    }

/* Old footer
footer {
    width: 100%;
    height: 400px;
    background-color: #29304A;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container_footer {
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 95%;
}
.grid_footer { 
    // why is the space (gap) so big? I want it smaller
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    row-gap: 0em;
    width: 400px;
    height: 175px;
}   
.grid_footer_art {
    grid-area: 1/1/2/2;
}
.grid_footer_collections {
    grid-area: 2/1/3/2;
}
.grid_footer_artists {
    grid-area: 3/1/4/2;
}
.grid_footer_about {
    grid-area: 1/2/2/3;
}
.grid_footer_goals {
    grid-area: 2/2/3/3;
}
.grid_footer_staff {
    grid-area: 3/2/4/3;
}
.grid_footer_contact {
    grid-area: 1/3/2/4;
}
.grid_footer_find {
    grid-area: 2/3/3/4;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited{
    color: #FFFFFF;  
}

/* footer form
footer {
    display: flex;
    flex-direction: column;  
}
.container_footer {
    display: flex;
    flex-direction: row;
}
.form_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
}
.label_form {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: #FFFFFF;
}
.btn-footer {
    max-width: 226xp;
    max-height: 45px;
    background-color: #AB7020;
    color: #FFFFFF;
    font-family: 'Arvo', serif;
    font-size: 20px;
}
.btn-footer:hover {
    background-color: #ca8a31;
    transform: scaleY(1.2);
}
#email {
    max-width: 226xp;
    max-height: 45px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.container_bottomfoot {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
}/*     It don't work! they need to get down and split up!
.all-rights {
    display: flex;
    justify-self: flex-start;
    color: #FFFFFF;
}
.container_icon {
    display: flex;
    justify-content: space-around;
}
.fa-facebook-f{
    color: #FFFFFF; 
    margin: 20px;
}
.fa-twitter {
    color: #FFFFFF;
    margin: 20px;
}
.fa-linkedin-in {
    color: #FFFFFF;   
    margin: 20px;
}
.fa-pinterest-p {
    color: #FFFFFF;     
    margin: 20px;
}
@media screen and (max-width: 900px){

}
@media screen and (max-width: 600px){

}
/*end old footer*/

/* new footer*/
footer {
    width: 100%;
    height: 400px;
    background-color: #29304A;
    padding: 20px;

}
.grid_footer { 
    display: grid;
    grid-template-columns: repeat(8 1fr);
    grid-template-rows: repeat(8 1fr);
    row-gap: 1px;
    width: 80%;
    height: 200px;
}  
.grid_footer_logo {
    grid-area: 1/1/3/4;
} 
.grid_footer_art {
    grid-area: 4/2/5/3;
}
.grid_footer_collections {
    grid-area: 5/2/6/3;
}
.grid_footer_artists {
    grid-area: 6/2/7/3;
}
.grid_footer_about {
    grid-area: 4/3/5/4;
}
.grid_footer_goals {
    grid-area: 5/3/6/4;
}
.grid_footer_staff {
    grid-area: 6/3/7/4;
}
.grid_footer_contact {
    grid-area: 4/4/5/5;
}
.grid_footer_find {
    grid-area: 5/4/6/5;
}
.grid_footer_join {
    grid-area: 3/7/4/8;
}
.grid_footer_input {
    grid-area: 4/7/5/8;
}
.grid_footer_btn {
    grid-area: 6/7/7/8;
}
.grid_footer_rights {
    grid-area: 8/1/9/2;
}
.grid_footer_facebook {
    grid-area: 8/5/9/6;
}
.grid_footer_twitter {
    grid-area: 8/6/9/7;
}
.grid_footer_linkedin {
    grid-area: 8/7/9/8;
}
.grid_footer_pinterest {
    grid-area: 8/8/9/9;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited{
    color: #FFFFFF;  
}
.label_form {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: #FFFFFF;
}
.btn-footer {
    max-width: 226xp;
    max-height: 45px;
    background-color: #AB7020;
    color: #FFFFFF;
    font-family: 'Arvo', serif;
    font-size: 20px;
}
.btn-footer:hover {
    background-color: #ca8a31;
    transform: scaleY(1.2);
}
#email {
    max-width: 226xp;
    max-height: 45px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.fa-facebook-f{
    color: #FFFFFF; 
    margin: 20px;
}
.fa-twitter {
    color: #FFFFFF;
    margin: 20px;
}
.fa-linkedin-in {
    color: #FFFFFF;   
    margin: 20px;
}
.fa-pinterest-p {
    color: #FFFFFF;     
    margin: 20px;
}
@media screen and (max-width: 900px){

}
@media screen and (max-width: 600px){

}

